<nav class="navbar navbar-expand-lg navbar-light bg-light fw-bold">
    <div class="container-fluid py-1">
        <a class="navbar-brand fw-normal text-accent-color cursive-font" id="logo" routerLink="">Fitbiz.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tracking
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/track-meal">Meal</a></li>
                      <li><a class="dropdown-item" routerLink="/track-workout">Workouts</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Programs</a>
                </li>
            </ul>
            <!-- [routerLink]="['/login']" -->
            <div class="ms-auto">
                <ul class="navbar-nav">
                    <button class="btn accent-color text-white fw-bold rounded-pill px-4" (click)="gotoAuth('signup')" [hidden]="loggedin">
                        Become a member
                    </button>
                    <button class="btn btn-light fw-bold rounded-pill px-4" (click)="gotoAuth('signin')" [hidden]="loggedin">
                        Sign in
                    </button>                
                    <!-- <img class="rounded-circle" alt="user" src="https://image.flaticon.com/icons/png/512/3135/3135715.png" data-holder-rendered="true" width="40" height="40"> -->
                    <div class="dropdown px-4 my-auto mx-auto" [hidden]="!loggedin">
                        <p class="dropdown-toggle my-auto" href="" role="button" id="dropdownLogout" data-bs-toggle="dropdown" aria-expanded="false">
                          Hello {{ username }}!
                        </p>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLogout">
                          <li><a class="dropdown-item" (click)='logout()'>Logout</a></li>
                        </ul>
                      </div>
                </ul>
            </div>
        </div>
    </div>
</nav>