li#signup {
    background-color: #FD6E4A;
    border-radius: 10px;
}

li#signup:hover {
    background-color: #d85a3b !important;
}

a.navbar-brand {
    color: #FD6E4A !important;
    font-family: 'Pacifico', cursive;
}