<!-- CAROUSEL -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/item1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption my-3">
                <h5 class="fw-bold">First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
                <button class="btn btn-primary btn-lg">Explore Workouts</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/item2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption my-3">
                <h5 class="fw-bold">Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
                <button class="btn btn-primary btn-lg">Explore Workouts</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/item3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption my-3">
                <h5 class="fw-bold">Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
                <button class="btn btn-primary btn-lg">Explore Workouts</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">

    <div class="my-5">
        <h3 class="text-center text-uppercase fw-bold text-decoration-underline">Track yourself daily</h3>
    </div>
    

    <!-- The top two rows after carosel -->
    <div class="row">
        <div class="col-sm-6 my-3 my-sm-0">
            <div class="card" (click)="onMealCardClick()">
                <img src="assets/images/meal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Meals</h5>
                    <p class="card-text">Start logging your Meals.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" (click)="onGymCardClick()">
                <img src="assets/images/log.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>Gym</h5>
                    <p class="card-text">Start logging your Workouts.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="my-5"></div>