<div class="container">
    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Heading title and buttons -->
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <h2 class="d-inline align-middle fw-bold">Track Your Meal</h2>
        <div class="d-flex flex-column flex-md-row">
            <button class="btn btn-primary my-1 my-md-0 fw-bold" type="button" (click)="toggleFormVisibility()">
                Add New Meal <i class="fas fa-chevron-down"></i>
            </button>
            <button class="btn btn-light fw-bold my-1 my-md-0  mx-md-2" type="button">
                Date: 01 Jun 2021
            </button>
            <button class="btn btn-light fw-bold my-1 my-md-0" type="button" (click)="reloadMealList()">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
    </div>

    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Add New Form -->
    <div class="border rounded p-3" id="inputFormStyle" *ngIf="showMyContainer">

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="row m-1 fw-bold">
                Select an Item to add it to your meal
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-select" name="dropdownMealId" aria-label="Select a food item" 
                        ngModel #myngDropdown="ngModel"
                        [class.field-error]="form.submitted  && myngDropdown.invalid" required>                
                        <option *ngFor="let item of mealItems | async" value="{{ item.id }}"> {{ item.mealName }} </option>
                    </select>
                </div>
                <div class="col-3"> 
                    <button type="submit" class="btn btn-primary" style="width:100%">Add</button>
                </div>
            </div>
        </form>

        <!-- {{ form.value | json }} -->

        <div [hidden]="!postError" class="alert alert-danger p-2 mb-0 mt-3">
            {{ postErrorMessage }}
        </div>

        <div [hidden]="!postSuccess" class="alert alert-success p-2 mb-0 mt-3">
            Your log has been added successfully!
        </div>
    </div>

    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Table -->
    <div class="table-responsive-lg text-center">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Fats</th>
                    <th scope="col">Proteins</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mealListData | async">
                    <td scope="row">{{ item.date }}</td>
                    <td>{{ item.mealName }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.carbs }}</td>
                    <td>{{ item.fats }}</td>
                    <td>{{ item.proteins }}</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>