<div class="container">
    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Heading title and buttons -->
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <h2 class="d-inline align-middle fw-bold">Track Your Meal</h2>
        <div class="d-flex flex-column flex-md-row">
            <button class="btn btn-primary my-1 my-md-0 mx-md-2 fw-bold" type="button" (click)="demoButtonClick()">Add
                New Meal <i class="fas fa-chevron-down"></i> </button>
            <button class="btn btn-light fw-bold" type="button">Date: 01 Jun 2021</button>
        </div>
    </div>

    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Add New Form -->
    <div class="border rounded p-3" id="inputFormStyle" *ngIf="showMyContainer">
        <form #form="ngForm">
            <div class="row">
                <div class="col">
                    <select class="form-select" name="dropdownMeal" aria-label="Select a food item" ngModel>
                        <option selected>Add new item to your meal</option>
                        <option value="100001">Chapati</option>
                        <option value="100002">Milk</option>
                        <option value="100003">Egg</option>
                        <option value="100005">Peanut Butter</option>
                        <option value="100006">Mango Shake</option>
                        <option value="100007">Peanuts</option>
                        <option value="100008">Almonds</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" style="width:100%">Add</button>
                </div>
            </div>
        </form>
        {{ form.value | json }}
    </div>

    <!-- spacing -->
    <div class="my-5"></div>

    <!-- Table -->
    <div class="table-responsive-lg text-center">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Fats</th>
                    <th scope="col">Proteins</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">01 Jun 2021</td>
                    <td>Egg</td>
                    <td>25</td>
                    <td>2</td>
                    <td>12</td>
                    <td>5</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>

                </tr>
                <tr>
                    <td scope="row">01 Jun 2021</td>
                    <td>Chapati</td>
                    <td>25</td>
                    <td>2</td>
                    <td>12</td>
                    <td>5</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>

                </tr>
                <tr>
                    <td scope="row">01 Jun 2021</td>
                    <td>Corns</td>
                    <td>25</td>
                    <td>2</td>
                    <td>12</td>
                    <td>5</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>

                </tr>
                <tr>
                    <td scope="row">01 Jun 2021</td>
                    <td>Apple</td>
                    <td>25</td>
                    <td>2</td>
                    <td>12</td>
                    <td>5</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>

                </tr>
                <tr>
                    <td scope="row">01 Jun 2021</td>
                    <td>Banana</td>
                    <td>25</td>
                    <td>2</td>
                    <td>12</td>
                    <td>5</td>
                    <td><i class="far fa-edit mx-3"></i><i class="fas fa-trash"></i></td>

                </tr>
            </tbody>
        </table>
    </div>






</div>