.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f5f9ff;
 }

thead th {
    background-color: #FD6E4A;
    color: white;
}

i.far.fa-edit {
    color: green;
}

i.far.fa-edit:hover {
    color: rgb(0, 216, 0);
}

i.fas.fa-trash {
    color: rgb(207, 69, 69);
}

i.fas.fa-trash:hover {
    color: rgb(255, 0, 0);
}

.row {
    --bs-gutter-x: 0.2rem;
}

#inputFormStyle {
    background-color: #f5f5f5 !important
}

/*  When you need border only when user clicks submit add class to the field
    using [class.field-error]="form.submitted  && workoutName.invalid"
*/
.field-error {
    border: 1px solid red;
} 