/* You can add global styles to this file, and also import other style files */
 
.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
} 

.accent-color {
    background-color: #FD6E4A !important;
}

.text-accent-color {
    color: #FD6E4A !important;
}

.accent-color:hover {
    background-color: #d85a3b !important;
}

.cursive-font {
    font-family: 'Pacifico', cursive;
}

.my-pointer {
    cursor: pointer;
}

.btn-outline-danger {
    color: #FD6E4A !important;
    border-color: #FD6E4A !important;
}
  
.btn-outline-danger:hover {
    background: #FD6E4A !important;
    color: white !important;
}